#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

dunst &
wal -R & # restore wallpaper, pywal
nm-applet &
clipmenud &
flameshot &
# clipit &
# clipman &
udiskie -ns &
sxhkd -m 1 &		# Bind keys with sxhkd
setxkbmap us,gr -option 'grp:alt_shift_toggle' &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
xfce4-power-manager &
# picom -b --experimental-backends &
picom -b --backend glx --vsync &
xsetroot -cursor_name left_ptr &
# $HOME/.config/polybar/launch.sh &
# mpd &

xrdb ~/.Xresources
sleep 0.5
awesome-client 'awesome.restart()' >/dev/null 2>&1
